<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <main>

        <%for( post of posts){ %>

            <div class="post">
                <h1 id="username">@<%= post.username %>
                </h1>
                <p id="content">
                    <%= post.content %>
                </p>
                <a href="/posts/<%= post.id %>">see in detal</a>
                <a href="/posts/<%= post.id %>/edit">edit post</a>
                <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
                    
                    <button type="submit">delete post</button>
                </form>
            </div>


            <% } %>
    </main>
    <a href="http://localhost:3000/posts/new">
        <br>
        <button>new post</button></a>
</body>

</html>